.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  background-color: gray;
  margin: 20px;
}

a {
  text-decoration: none;
  color: azure;
}

a:hover {
  color: yellow;
}

div {
  padding: 1.5em;
}
