.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  background-color: gray;
  margin: 20px;
}

a {
  text-decoration: none;
  color: azure;
}

a:hover {
  color: yellow;
}

div {
  padding: 1.5em;
}

.login {
  background-color: #ebecf0;
  color: #808080;
  outline: none;
  border-radius: 2px;
  height: 3em;
  border-style: none;
  margin: 1em;
  padding: 0.5em;
  font-size: larger;
}

.login:focus {
  outline: 1px solid #bebebe;
}
