.App {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  background-color: gray;
  margin: 20px;
}

a {
  text-decoration: none;
  color: azure;
  font-size: large;
  font-weight: bolder;
}

a:hover {
  color: yellow;
}

div {
  padding: 1.5em;
}

.login {
  background-color: #ebecf0;
  color: #808080;
  outline: none;
  border-radius: 2px;
  height: 3em;
  border-style: none;
  margin: 1em;
  padding: 0.5em;
  font-size: larger;
}

.login:focus {
  outline: 1px solid #bebebe;
}

.btn-blue {
  background-color: #add8e6;
  color: white;
  outline: none;
  border-radius: 2px;
  height: 3.8em;
  width: 6em;
  border-style: none;
  margin: 1em;
  padding: 0.5em;
  font-size: larger;
  font-weight: bold;
}

.error {
  color: crimson;
  font-weight: bold;
}

.workout {
  background-color: #add8e6;
  font-size: large;
  font-weight: bold;
  color: azure;
  height: 2em;
  margin: 1em;
  padding: 0.5em;
}
